@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,Baloo, "Courier New",
    monospace;
}

.search-container {
  border-bottom: 1px solid #ccc;
}

.no-border:focus {
  outline: none;
  border: none;
}

.boder-login {
  border: 1px solid #ccc;
  width: 400px;
  height: 330px;
  margin-bottom: 30px;
}

.input-field {
  padding-left: 0;
}

.bg-red {
  background-color: #08bccd;
}

.boder-createAccount {
  border: 1px solid #ccc;
  width: 520px;
  height: 600px;
  margin-bottom: 30px;
}

.success-message {
  color: green;
  font-size: 16px;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.fas {
  margin-right: 10px;
}